@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';


/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.rounded-corners {
    border-radius: 25px;
  }

.container {
    display: block;
    width: 100%;
    }

.column {
flex: 1;
padding-left: 1rem;
padding-right: 1rem;
box-sizing: border-box;
}


.image {
max-width: 100%;
height: auto;
}

.container-row {
    display: block;
    width: 100%;
    margin: auto;
}

.row-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

.pt-5rem {
    padding-top: 5rem;
}

.bullet-mt {
    margin-top: 0.20rem;
  }

.bullet-mt1 {
margin-top: 0.3rem;
}


.gradient-block1 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #dec0f1, #274690); /* Adjust your gradient colors here */
  }

  .gradient-block2 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #bbe5ff, #2330eb); /* Adjust your gradient colors here */
  }
  .gradient-block2b {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to left, #bbe5ff, #2330eb); /* Adjust your gradient colors here */
  }

  .gradient-block3 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #3567ff, #21008c); /* Adjust your gradient colors here */
  }
  .gradient-block4 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #ffc96b, #f85700); /* Adjust your gradient colors here */
  }

  .gradient-block4b {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to left, #ffd58d, #f85700); /* Adjust your gradient colors here */
  }

  .gradient-block5 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #db94ff, #380079); /* Adjust your gradient colors here */
  }

  .gradient-block6 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #6bf1bc, #005f62); /* Adjust your gradient colors here */
  }

  .gradient-block7 {
    padding: 2rem;
    text-align: center;
    background: linear-gradient(to right, #8B97C3, #404F7B); /* Adjust your gradient colors here */
  }

 .about {
  max-width: 500px;
 }
 .full-width {
    position: absolute;
    left:0px;
    right:0px;
 } 
 .position-relative {
    position:relative
 }
  .service {
    width: min(100%, 60rem);
    overflow: hidden;
    margin-inline: auto;
    padding-inline: clamp(1rem, 5vw, 4rem);
    list-style: none;
    perspective: 1000px;
    display: grid;
    row-gap: 0.5rem;
  }
  ul li.card{
    position: relative;
    padding-block: 1.5rem;
    padding-inline: 2rem;
    background-image: linear-gradient(to right, rgb(0 0 0 / .15), transparent);
    transform-style: preserve-3d;    
    display: grid;
    grid-template: 'title' 'content';
    row-gap: 0.5rem;
    column-gap: 2rem;
  }
  ul li.card::before, ul li.card::after {
    --side-rotate: 60deg;
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform-origin: calc(50% - (50% * var(--ry))) 50%  ;
    transform: rotateY(calc(var(--side-rotate) * var(--ry)));
    background-color: inherit;
    background-image: linear-gradient(calc(90deg * var(--ry)), rgb(0 0 0 / .25), rgb(0 0 0 / .5));  
  }
  ul li.card::before {--ry: -1; right: 100% }
  ul li.card::after {--ry: 1; left: 100% }
  
  ul li.card .title{
    grid-area: title;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
  }
  ul li.card .content{
    grid-area: content;
    align-items: left;
  }
  
  ul.checked-list li:before {
    content: '✓';
  }

  .align-left {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: flex-start;
  }

  .workflow-list {
	max-width: 800px;
	margin: 0 auto;
}
  .workflow-list ol {
	list-style: none;
	padding: 0;
}

.workflow-list li + li {
	margin-top: 1rem;
}

.workflow-list li {
	display: flex;
	align-items: center;
	gap: 1rem;
	background: #B1D9FE;
	padding: 1.5rem;
	border-radius: 1rem;
	width: calc(100% - 2rem);
	box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
}

.workflow-list li::before {
	counter-increment: list-item;
	content: counter(list-item);
	font-size: 3rem;
	font-weight: 700;
	width: 2em;
	height: 2em;
	background: #1B264F;
	flex: 0 0 auto;
	border-radius: 50%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.workflow-list li:nth-child(even) {
	flex-direction: row-reverse;
	background: aliceblue;
	margin-right: -2rem;
	margin-left: 2rem;
}

  @media (min-width: 30rem){
    ul li.card {
      text-align: left;
    }
    ul li.card .title { text-align: left }
  }

@media only screen and (min-width: 1024px) {
    .container {
      display: flex;
    }
    .container-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
    }
  }