@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';

@import 'tailwindcss/utilities';

/* Additional Tailwind directives: https://tailwindcss.com/docs/functions-and-directives/#responsive */
@layer utilities {
    .rtl {
        direction: rtl;
    }
}

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.rounded-corners {
    border-radius: 25px;
  }

.container {
    display: block;
    width: 100%;
    }

.column {
flex: 1;
padding-left: 1rem;
padding-right: 1rem;
box-sizing: border-box;
}

.image {
max-width: 100%;
height: auto;
}

.container-row {
    display: block;
    width: 100%;
    margin: auto;
}

.row-item {
    flex: 1;
    text-align: center;
    border: 1px solid #ccc; /* Optional: Add border for better visualization */
    padding: 20px;
    box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
    .container {
      display: flex;
    }
    .container-row {
        width: 100%;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;
    }
  }